/* hides input spinner */
.no-spin::-webkit-inner-spin-button, .no-spin::-webkit-outer-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}
.no-spin {
  -moz-appearance:textfield !important;
}

.framer {
  padding: 10px;
  border-radius: .25rem!important;
  box-shadow: rgb(58 78 95 / 20%) 0 10px 16px, rgb(58 78 95 / 5%) 0 -5px 16px;
  background-color: #fff;
}

.spacer0 {
  width: 100%;
  height: 15px;
  display: block;
  clear: both;
}